.blue1 {
    background-color: rgb(19, 115, 251);
}

.text-blue1 {
    color: rgb(19, 115, 251);
}

.blue2 {
    background-color: rgb(9, 50, 117);
}

.family-courier {
    font-family: 'Courier New', Courier, monospace;
}

.text-18 {
    font-size: 18px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}