.blue1 {
    background-color: rgb(19, 115, 251);
}

.text-blue1 {
    color: rgb(19, 115, 251);
}

.blue2 {
    background-color: rgb(9, 50, 117);
}

.family-courier {
    font-family: 'Courier New', Courier, monospace;
}

.text-18 {
    font-size: 18px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

* {
    font-family: "Eurostile Next", serif;
    font-style: normal;
}

.dynamic-text-background {
    background-image: url(https://cdn.shopify.com/s/files/1/2577/5036/files/hexellence.png?4706294470393780070);
    background-color: #213972;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rich-text-heading-custom {
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
    line-height: 1.5;
    color: #fff;
}

.rich-text-content-custom {
    line-height: 1.5;
    color: #fff;
    font-size: 1rem;
    margin-left: 20px;
}

.article--excerpt-meta-item {
    display: inline-block;
    font-size: 0.9375rem;
}

.article--excerpt-meta-item {
    display: inline-block;
    font-size: 0.9375rem;
}

.article--excerpt-content {
    width: 100%;
    padding: 1.25rem;
    white-space: normal;
}

.line {
    border-left: 2px solid gray;
    height: 4px;
    padding: 2px;
}

.wunbwh {
    font-size: 14px;
    padding-top: 5px;
    overflow: auto;
    BACKGROUND-COLOR: #f3f3f3;
    border: solid 1px lightgrey;
}

.jdgm-revs-tab-btn {
    position: fixed;
    display: inline-block;
    width: auto;
    cursor: pointer;
    border-radius: 0;
}

#hp-ctn-howItWorks {
    position: fixed;
    top: 600px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    width: 40px;
    height: 160px;
    z-index: 15;
    border-radius: 3px 0px 0px 3px;
}

#hp-ctn-howItWorks img {
    margin: 15px 0px 45px 13px;
}

#hp-ctn-howItWorks p {
    color: #fff;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}


/* slider */

#mixedSlider {
    position: relative;
}

#mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
}

#mixedSlider .MS-content .item {
    display: inline-block;
    width: 33.3333%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 10px;
}

@media (max-width: 991px) {
    #mixedSlider .MS-content .item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    #mixedSlider .MS-content .item {
        width: 100%;
    }
}

#mixedSlider .MS-content .item .imgTitle {
    position: relative;
}

#mixedSlider .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
}

#mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
}

#mixedSlider .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
}

#mixedSlider .MS-content .item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
}

#mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
}

#mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 95px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
}

#mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
    #mixedSlider .MS-controls button {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    #mixedSlider .MS-controls button {
        font-size: 20px;
    }
}

#mixedSlider .MS-controls .MS-left {
    left: 0px;
}

@media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-left {
        left: -10px;
    }
}

#mixedSlider .MS-controls .MS-right {
    right: 0px;
}

@media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-right {
        right: -10px;
    }
}

.payment-icons-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    vertical-align: top;
}


/* slider end */